.row-2 {
  background-color: #ffffff;
}

.row-2__inner-container {
  display: flex;

  padding-top: 80px;
  padding-bottom: 80px;

  justify-content: space-around;
}

.row-2__image {
  flex: 355px;

  min-width: 355px;
  height: 354px;
  margin-left: 46px;

  content: "";

  border-radius: 177px;
  background-color: #e7e7e7;
  background-image: url(../../assets/row-2_asset.jpg);
  background-position: center;
  background-size: auto;
}

.row-2__text-content {
  display: flex;

  margin-top: 24px;
}

.row-2__header {
  padding-bottom: 16px;

  letter-spacing: 1px;
  text-transform: uppercase;

  font-family: "Fjalla One", sans-serif;
  font-size: 21px;
  line-height: 24px;
}



.row-2__subheader {
  color: #e84c3d;

  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.row-2__text-article {
  flex: 1;

  margin-right: 30px;
}

.row-2__text-article:last-child {
  margin-right: 0;
}

.row-2__article-header {
  color: #202628;

  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.row-2__article-text {
  margin-top: 4px;

  color: #767c7e;

  font-family: "Lato";
  font-size: 14px;
  line-height: 24px;
}

.row-2__article-button {
  width: 70px;
  height: 37px;
  margin-top: 33px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-radius: 18px;
  background-color: #e84c3d;

  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
