@import url(primary-logo/primary-logo.css);
@import url(primary-navigation/primary-navigation.css);

.header {
  background: #202628;

  font-family: "Fjalla One", sans-serif;
}

.header__inner-container {
  display: table;
}

.header__logo-container {
  display: table-cell;

  vertical-align: middle;
}

.header__navigation-container {
  float: right;
}
